/************************ 레이 아웃 div CSS ************************/
	html {height:100%; width:100%; margin:0; padding:0; overflow-y:scroll;}
	body {
		height:100%; width:100%;
		margin:0; padding:0; border:0 outset gray;
		background-image : url('/bt/static/img/bg_dot.jpg');
	}
	/*background-color: #222222;*/
	/* border : (프레임의 두께) (dotted, dashed, solid, double, groove, ridge, indet, outset 중에서 선택하세요) (프레임색깔)*/
	/* 높이값 100% 마진, 패딩 값이 0일 경우 단위 안붙여도 괜찮음 */

	::selection { background-color: #005FAF; color: #FFF; }
	::-moz-selection { background-color: #005FAF; color: #FFF; }
	a,nav,input,li,img {outline:none; }
	/*select-dummy: expression(this.hideFocus=true);}*/

	div.container#main_container { background-color: white; }
	footer.footer { border-width:1px 0 0 0; border-color:#CCCCCC; border-style: solid; background-color: #eeeeee; margin-top: 25px;}

	.nav-tabs { margin-bottom: -20px; }

	.page-header .nav-pills a {  margin-top: 3px; width: 110px; text-align: center;}
	.page-header .nav-pills a:hover { font-weight: bold; }
	.page-header .nav-pills .active a { background-color: #eeeeee; color: #337ABD; font-weight: bold;}
	.page-header .nav-pills .active a:hover { background-color: #DFDFDF; color: #337ABD; font-weight: bold; }

	#sdi_sub { margin-top: -20px; padding: 18px 0 12px 20px; background-color: #F8F8F8; font-weight: bold; color: #6666D4; border-bottom-color: #B2BCDE;}
	#glyphicon { color: #CC0099;" }

	.width_100 { width: 100%;}
	.abc { padding: 10px 0;  border-width:1px 0 0 0; border-style:solid; border-color:#EAEBF2;}