## CodeIgniter config File
## /application/config/database.php
## /application/config/config.php
*/application/config/database.php
*/application/config/config.php
.DS_Store
application/cache/*
!application/cache/index.html
!application/cache/.htaccess
*/ns/application/logs/*
!application/logs/index.html
!application/logs/.htaccess
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

## Atom sftp files
*.ftpconfig

## wp
wp/wp-content/uploads/*

## old cms system config File
*/php/auth.php
*/php/config.php
*/setup/config_set.php

.gitignore
apple-touch-icon.png
